@tailwind base;
@tailwind components;
@tailwind utilities;

.had{
  color: hsl(219, 78%, 91%);
}

.w-set{
  width: 940px;
}
.gradient-col{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.0845588235294118) 0%, rgba(17,24,39,1) 71%);
}